<html>
  <head>
    <title><%=title%></title>
  </head>
  <body>
    <% messages.forEach((message) => { %>
    <div>
      <p style="display: inline-block">
        <%= message.user %>, on <%= message.added %> said: <%= message.text %>
      </p>
      <a href="/index/<%= message.id %>">
        <button>Open</button>
      </a>
    </div>
    <% }) %>

    <a href="/new" style="display: block; margin-top: 2em"
      ><button style="padding: 0.5em 1em">Go to form</button></a
    >
  </body>
</html>
